/deluge/
/fish/
/gtk-2.0/
/htop/
/nvim/plugin/packer_compiled.lua
/gh/
/ranger/
/rockbox.org/
/simple-update-notifier/
/yarn/
/gcloud/
/XIVLauncher/
/configstore/
/glab-cli/
/Battle.net/
/beets/library.db
/broot/
/raycast/
/wow/

/tmux/plugins

*.log
log
